extend ../_component/layout/base
block config
  -
    var pageData = data['der-ablauf']

block awesome-content
  .content--padd
    h1.content__title= pageData.pageTitle
    p.content__paragraph= pageData.pageDescription
    each intro in pageData.introList
      .article-wrapper 
        .article-image(style=`background-image: url(${intro.imagePath})`)
        h1.article-title= intro.title
        each text in intro.description
          p.article-description!= text
