extend ../_component/layout/base

block config
  - var pageData = data['uber-uns']

block awesome-content
  - const infoData = data['uber-uns'].content
  each item in infoData 
    if item.type === 'simple-paragraph'
      p= item.value
    else if item.type === 'list'
      div 
        ul 
          each listItem in item.list 
            li= listItem

        img(src=`${baseUrl}${item.imagePath}`, alt=item.imageAlt)
    else if item.type === 'subtitle'
      h2= item.value

  - var team = pageData.team 
  include ../_component/team/team

  - var heroType = 'people-getting-informed'
  include ../_component/hero/hero

