extend ../_component/layout/base

block config
  - var pageData = data['uber-uns']

block awesome-content
  .uber-uns
  - const infoData = data['uber-uns'].content
  .image-content__text
    each item in infoData 
      if item.type === 'simple-paragraph'
        p.content__paragraph= item.value
      else if item.type === 'list'
        .image-content-split 
          ul.custom-counter
            each listItem in item.list 
              li.count-me
                span.count-me__label= listItem

          //- img(src=`${baseUrl}${item.imagePath}`, alt=item.imageAlt)
          .nu-stiu(style=`background-image: url(${baseUrl}${item.imagePath})`)
      else if item.type === 'sub-title'
        h2= item.value

  - var team = pageData.team 
  include ../_component/team/team

  - var heroType = 'people-getting-informed'
  include ../_component/hero/hero

