extend ../_component/layout/base
block config
  - var pageData = data.kosten

block awesome-content
  .kosten
    .kosten__wrapper
      h1.content__title= pageData.pageTitle
      //- pre= JSON.stringify(pageData, null, 2)
      .kosten-content 
        each item in pageData.content.list
          if item.type === 'simple-paragraph'
            p.content__description!= item.value

  .pricing-table
    each data in pageData.pricingTable
      .pricing-table__content
        h2.pricing-table__title= data.title
        h3.pricing-table__sub-title= data.price
        ul.pricing-table__list-wrapper
          each feature in data.featureList
            .pricing-table__list-item= feature
