.info-banner
  //- pre= JSON.stringify(infoBanner, null, 2)
  each info in infoBanner
    .info-banner__icon(class=`bb-${info.icon}`)
    .info-banner__title= info.title
    .info-banner__description(
      data-left=info.valueLeft
      data-right=info.valueRight
    )= info.valueLeft === 'office' ? '@' : ''

div(
  class="calendly-inline-widget"
  data-url="https://calendly.com/pflegeperle/jetzt-kostenloses-erstgesrpach-vereinbaren" style="min-width:320px;height:630px;"
)

script(
  type="text/javascript"
  src="https://assets.calendly.com/assets/external/widget.js"
  async
)
