.team
  h2.team__title= team.title

  .team__wrapper
    each person in team.people 
      .team__person
        .team__person-avatar(style=`background-image: url(${person.imagePath})`)
        .team__person-details
          .team__person-name= person.name 
          .team__person-role= person.role 
          .team__person-description= person.description 
