extends _component/layout/base

block config 
  -
    var pageData = data.landing

block awesome-content
  - 
    var heroType = 'taking-care'
    pageData.pageDescription = 'Seriöse 24h Betreuung in Wien und Wien Umgebung. Wir vermitteln leistbare 24 Stunden Betreuerinnen. Pflege Zuhause, kurzfristige Betreuung, Betreuung Zuhause.'
    var {
      contactInfoBanner: infoBanner,
      pageOrderedListWithImage: heroInfo,
    } = data.landing
    var heroImage = 'asset/image/hero-slider/este-perfect.jpg'

  - var hashId = 'calendly'
  include _component/hero/hero
  include _component/info-banner/info-banner

  each story in data.landing.pageTwoSideStoryList
    .sprijin-competent
      .image-content
        div(
          class=`image-content__background`
          style=`background-image: url(${baseUrl}${story['content__background-image']})`
        )
        .image-content__text
          h2.content__title= story.content__title
          h3.content__subtitle= story.content__subtitle
          each paragraph in story.content_description
            p.content__paragraph= paragraph
          p.content__paragraph= story.client
          .content__divider
            .bb-contact
          .content__email @
  - 
    var heroImage = `${baseUrl}asset/image/hero-slider/people-getting-informed.jpg`
    pageData.pageTitle = 'Wir halten die aktuellen Sicherheitsbestimmungen ein!'
    pageData.pageDescription = 'In der COVID Pandemie haben wir für Sie die Option auf ein Onlinemeeting erstellt, damit Sie uns persönlich kennen lernen können. Dieser Termin ist natürlich kostenlos. Denn wir nehmen uns Zeit für Ihre Anliegen. Vereinbaren Sie einen Termin und erledigen Sie  alles einfach von Zuhause.'
  include _component/hero/hero
  - var hashId = 'calendly-bottom'
  include _component/info-banner/info-banner

  include _component/ordered-list/ordered-list
